<% if current_user %>
  <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', top_logout_path %>
<% else %>
  <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', top_main_path %>
<% end %>

<%= link_to 'ãƒ¦ãƒ¼ã‚¶ãƒ¼ç™»éŒ²', users_path %>

<% if current_user %>
  <%= link_to 'æ–°è¦ãƒ„ã‚¤ãƒ¼ãƒˆ', new_tweet_path %>
<% end %>

<br>

<% @tweets.each do |e| %>
  <p>
    <%= e.message %>
    <% if current_user %>
      <%= link_to 'å‰Šé™¤', tweet_path(e), method: :delete %>
      <% if e.likes.count > 0 %>
        <%= link_to 'ðŸ’›', like_path(e), method: :delete %>
      <% else %>
        <%= link_to 'â™¡', likes_path(tweet_id: e.id), method: :post %>
      <% end %>
    <% end %>
    </p>
<% end %>