<%= link_to '新規ユーザ登録', '/users/new' %>

<% @users.each do |t| %>
  <p>
    <%= t.uid %>
    <%= t.pass %>
    <%= link_to '削除', user_path(t), method: :delete %>
  </p>
<% end %>

<br>

<p>
  <%= link_to 'ツイート一覧', tweets_path %>
</p>
